In [8]:
import pandas as pd

In [9]:
fname = 'data/orig_src/Africa_1997-2020_Feb08.xlsx'

In [3]:
df = pd.read_excel(fname)

![image](pics_for_presentation/acled.png)

In [4]:
df.head()

,ISO,EVENT_ID_CNTY,EVENT_ID_NO_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,...,ADMIN3,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TIMESTAMP
0,12,ALG1,1,1997-01-01,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Douaouda,36.672,2.789,1,Algeria Watch,Other,5 January: Beheading of 5 citizens in Douaouda...,5,1567462135
1,12,ALG2,2,1997-01-02,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Hassasna,36.133,0.883,1,Algeria Watch,Other,Two citizens were beheaded in Hassasna.,2,1567462135
2,12,ALG3,3,1997-01-03,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Hassi El Abed,34.966,-0.290,1,Algeria Watch,Other,Two citizens were killed in a raid on the vill...,2,1567462135
3,12,ALG4,4,1997-01-04,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Blida,36.469,2.829,1,Algeria Watch,Other,4 January: 16 citizens were murdered in the vi...,16,1567462135
4,12,ALG5,5,1997-01-05,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Douaouda,36.672,2.789,1,Algeria Watch,Other,5 January: Killing of 18 citizens in the Olivi...,18,1567462135

In [7]:
fname2 = 'data/orig_src/social_data.csv'
df2 = pd.read_csv(fname2, index_col=0)

![image](pics_for_presentation/afdb.png)

In [8]:
df2.head()

,CountryName,Country,IndicatorName,Units,Scale,Frequency,Date,Value
52084,Cameroon,CMR,"Central government, Fiscal Balance (Current US $)",current US$,1,A,1997-01-01,-3.233041e+08
52085,Cameroon,CMR,"Central government, Fiscal Balance (Current US $)",current US$,1,A,1998-01-01,-3.604077e+08
52086,Cameroon,CMR,"Central government, Fiscal Balance (Current US $)",current US$,1,A,1999-01-01,-2.971021e+08
52087,Cameroon,CMR,"Central government, Fiscal Balance (Current US $)",current US$,1,A,2000-01-01,4.082743e+08
52088,Cameroon,CMR,"Central government, Fiscal Balance (Current US $)",current US$,1,A,2001-01-01,1.242385e+08

In [11]:
fname3 = 'data/acled_social_iso3_timelag_labeled.csv'
df3 = pd.read_csv(fname3, index_col=0)

![image](pics_for_presentation/dataset.jpg)

In [12]:
df3.head()

,EVENT_DATE_MONTH,COUNTRY,Battles,Explosions/Remote violence,Protests,Riots,Strategic developments,Violence against civilians,FATALITIES,YEAR,...,FATALITIES_4_month_ago,Battles_5_month_ago,Protests_5_month_ago,Explosions/Remote violence_5_month_ago,Strategic developments_5_month_ago,Violence against civilians_5_month_ago,FATALITIES_5_month_ago,new_crisis_def,battle_case,protest_riots_case
0,1997-07,Algeria,0.0,1.0,0.0,0.0,0.0,16.0,374.0,1997.0,...,145.0,0.0,0.0,11.0,0.0,23.0,465.0,1.0,0.0,0.0
1,1997-08,Algeria,1.0,1.0,0.0,0.0,0.0,13.0,665.0,1997.0,...,415.0,0.0,0.0,0.0,0.0,8.0,145.0,1.0,0.0,0.0
2,1997-09,Algeria,0.0,0.0,0.0,0.0,0.0,10.0,346.0,1997.0,...,64.0,0.0,0.0,2.0,0.0,9.0,415.0,1.0,0.0,0.0
3,1997-10,Algeria,0.0,1.0,0.0,0.0,0.0,11.0,233.0,1997.0,...,123.0,0.0,0.0,0.0,0.0,4.0,64.0,1.0,0.0,0.0
4,1997-11,Algeria,0.0,0.0,0.0,0.0,0.0,5.0,115.0,1997.0,...,374.0,0.0,0.0,1.0,0.0,5.0,123.0,1.0,0.0,0.0